
// Establece tus colores personalizados
$primary: #5265E1;
$secondary: #FA5959;

// Importa los estilos de Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap.scss';

.nav-pills .nav-link {
    background-color: transparent;
    color: #000;
    border-radius: 0%;
}

.nav-pills .nav-link.active {
    background-color: transparent;
    color: #000;
    opacity: 1;
    border-bottom: 2px solid $secondary;
}

.card{
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.card-img-top{
    max-width: 260px;
    max-height: 240px;
}