// -------------------------
// Variables de Color Personalizadas
// -------------------------
$primary: #5265E1;
$secondary: #FA5959;

// -------------------------
// Importación de Estilos de Bootstrap
// -------------------------
@import 'node_modules/bootstrap/scss/bootstrap.scss';

// -------------------------
// Estilos Generales
// -------------------------
body {
    max-width: 100%;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}
// -------------------------
// Estilos de Navegación
// -------------------------
.nav-pills .nav-link {
    background-color: transparent;
    color: #000;
    border-radius: 0%;
}

.nav-pills .nav-link.active {
    background-color: transparent;
    color: #000;
    opacity: 1;
    border-bottom: 2px solid $secondary;
}

// -------------------------
// Estilos de Pilas
// -------------------------
.primera-pila{
    height:90%;
    width: 150%; 
    transform: translateX(20%) translateY(-85%);
    z-index: -1;
}

.segunda-pila{
    height: 100%;
    width: 140%; 
    transform: translateX(-50%) translateY(-75%);
    z-index: -1;
}

// -------------------------
// Estilos de Tarjetas
// -------------------------
.card{
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.card-img-top{
    max-width: 260px;
    max-height: 240px;
}

// -------------------------
// Estilos de Logos
// -------------------------
#logo-firefox {
    bottom: 50%;
    transform: translateY(10%);
    right: 50%;
}

#logo-opera {
    bottom: 50%;
    right: 50%;
    transform: translateY(20%);
}

// -------------------------
// Estilos de FAQs
// -------------------------
.accordion-button:not(.collapsed) {
    color: inherit; /* Esto asegura que el color del texto de las preguntas no cambie. */
}
  
.accordion-button::after {
    color: $primary; /* Esto cambiará el color del icono. */
}

.background-custom{
    background-color: #242946;
}

// -------------------------
// Estilos de Footer
// -------------------------
.iconos-custom{
    float: inline-end;
}