
// Establece tus colores personalizados
$primary: #5265E1;
$secondary: #FA5959;

// Importa los estilos de Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap.scss';

.nav-pills .nav-link {
    background-color: transparent;
    color: #000;
    border-radius: 0%;
}

.nav-pills .nav-link.active {
    background-color: transparent;
    color: #000;
    opacity: 1;
    border-bottom: 2px solid $secondary;
}

// pilas
.primera-pila{
    height: 80%;
    width: 130%; 
    transform: translateX(20%) translateY(-90%);
    z-index: -1;
}
.segunda-pila{
    height: 100%;
    width: 130%; 
    transform: translateX(-45%) translateY(-75%);
    z-index: -1;
}

.card{
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.card-img-top{
    max-width: 260px;
    max-height: 240px;
}

#logo-firefox {
    bottom: 50%;
    transform: translateY(10%);
    right: 50%;
}

#logo-opera {
    bottom: 50%;
    right: 50%;
    transform: translateY(20%);
}